@model IEnumerable<_12_Weboto.Models.Brand>

@{
    ViewData["Title"] = "Danh sách thương hiệu";
}

<h2>Danh sách thương hiệu</h2>
<a asp-area="Admin" asp-controller="Brand" asp-action="Add" class="btn btn-primary">Thêm thương hiệu</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên thương hiệu</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.TenHang</td>
                <td>
                    <a asp-action="Details" asp-route-id="@brand.Id" class="btn btn-info">Chi tiết</a>
                    <a asp-action="Edit" asp-route-id="@brand.Id" class="btn btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@brand.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
